<header class="main-header">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-5 col-md-2">
				<a href="/" class="main-header_home-link">
					<img src="./images/jordan/JORDY.png">
				</a>
			</div>

			<div class="col-7 col-md-6">
				<form action="/searchResults" method="GET" class="search-form">
					<input type="text" name="search" placeholder="Buscar" class="search-form_input">
					
				</form>
			</div>

			<div class="col-12 col-md-4">
				<a class="main-header_credit-link">
					LA NUEVA GENERACIÓN DE SNKRS
				</a>
			</div>
		</div>

		<button class="btn-toggle-navbar">
			<i class="fas fa-bars"></i>
		</button>

		<nav class="main-navbar">
			<ul class="left-navbar">
				<li><a href="/products/allProducts/:id">Todos los productos</a></li>
				<!-- solo logueado <li><a href="">Cargar productos</a></li> -->
			</ul>

			<ul class="right-navbar">
				<!-- Solo logueado <li><a href="profile.html">
						Nombre del usuario <i class="fas fa-user"></i>
					</a>
				</li>
				<li>
					<form action="" method="post">
						<button class="logout" type="submit">
							Cerrar sesión <i class="fas fa-sign-in-alt"></i>
						</button>
					</form>
				</li> -->
				<li class="unite">
					<a href="/users/register">Unite</i> 
							<!-- <i class="far fa-address-card"></i> -->
					</a>
				</li>
				<li class="unite">
					<a href="/users/login">Iniciar sesión</i>
						<!-- <i class="fas fa-sign-in-alt"></i> -->
                    </a>
				</li>
			</ul>
		</nav>
	</div>
</header>

<body>
