
/*====== Fonts ======*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');


/*====== Variables ======*/
:root {
  --yellow: #EAC926;
  --dark-blue: #03264C;
  --light-blue: #1259c3; 
  --gray: #666666;
  --light-gray: #ebebeb;
  --green: #39b54a;
  --base-font-family: 'Roboto', sans-serif
}


/*====== Basics ======*/
* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  font-size: 10px;
  background-color: black !important;

}

body {
  font-family: inherit;
  font-weight: 300;
  background-color: black;
  margin: 0;
}

body#dummybodyid {
  background-color: black;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  color: white;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

input,
textarea {
  font-family: inherit;
}

hr {
  border: none;
  border-bottom: solid 1px var(--light-gray);
}



/*====== Main Header ======*/
.main-header {
  padding: 15px 0;
  background-color: black;
  /*var(--yellow); */
}

.main-header_home-link,
.main-header_credit-link {
  display: block;
  color: white;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.main-header_credit-link {
  font-size: 1.0em;
  margin-top: 20px;
  text-align: center;
}

.search-form {
  position: relative;
  display: flex;
  align-items: center;
}

.search-form_input {
  border: solid 1px var(--light-gray);
  display: block;
  width: 100%;
  padding: 7px 35px 7px 7px;
  border-radius: 3px;
  height: 40px;
  font-size: 1.5em;
}

.search-form_button {
  position: absolute;
  right: 2px;
  height: 60%;
  border: none;
  border-left: solid 1px var(--light-gray);
  color: var(--gray);
  cursor: pointer;
}

div.col {
  padding: 0px;
}



/*====== Main Navbar ======*/
.btn-toggle-navbar {
  background-color: var(--dark-blue);
  font-size: 1.5em;
  border: none;
  border-radius: 4px;
  padding: 5px 15px;
  display: block;
  margin: 20px auto 0;
}

.main-navbar {
  margin-top: 0px;
  display: none;
  font-style: inherit;
  font-weight: bold;
  text-decoration: none;
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
}

a.main-header_credit-link {
  text-decoration: none;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
  font-size: 35px;
}

.main-navbar a {
  text-decoration: none;
  color: white;
  font-family: 'Bebas Neue', cursive;
}

.left-navbar,
.right-navbar {
  font-size: 1.3em;
 
}

.right-navbar ul {
  display: flex;
  justify-content: space-between;
}

.logout{
  background: transparent;
  border: 0px;
  cursor: pointer;
  font-size: 1em;
  color: white;
}

.logout:hover{
  color: grey;
}

.left-navbar a,
.right-navbar a {
  display: block;
  padding: 5px 0;
  border-bottom: solid 1px var(--gray);
}

.unite {
  padding-left: 45px;
  padding-right: 10px;
}

.unite2 {
  padding-left: 45px;
  padding-right: 40px;
}



/*====== Banner ======*/
.banner {
  background-image: url(images/JORDYS.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100px;
}


/*====== Products ======*/
.products-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
}


.products-title {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Bebas Neue', cursive;
  color:white;
  font-size: 25px;
}

.product-box {
  background-color: var(--light-gray);
  border-radius: 5px;
  overflow: hidden;
  transition: 300ms;
  margin: 20px 0;
}

.product-box a {
  display: block;
  text-decoration: none;
}

.product-box_image {
  border-bottom: 1px solid var(--light-gray);
  width: 200px;
  height: 200px;
  margin-left: 50px;
  display: flex;
  align-items: center;

}

.product-box_image img {
  display: flex;
  align-items: center;
  width: 500px;

}

.product-box_data {
  padding: 15px;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: none;
}

.product-box_data h2 {
  font-size: 20px;
  font-weight: bold;
  margin-left: 50px;
  display: flex;
  align-items: center;
  color: rgb(73, 82, 82);
  text-decoration: underline var(--light-gray);
}

.product-box_data span {
  font-size: 1.5em;
  font-weight: 300;
  color: var(--green);
  margin: 0 0 0 10px;
}

.product-box_data p {
  font-size: 15px;
  width: 100%;
  color: var(--gray);
  margin-left: 50px;
  display: flex;
  align-items: center;
  height: 0;
  transition: 300ms;
  overflow: hidden;
}

.product-box_data i {
  color: var(--green);
  font-size: 1.8em;
  width: 35px;
  height: 35px;
  text-align: center;
  border: solid 1px;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}

.noproducts {
  text-align: center
}

.product-box:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-size: 14px;
  text-decoration: none ;
}
.product-box:hover p {
  height: 36px;
  margin-top: 15px;
  text-decoration: underline var(--light-gray);
}

.product-box:hover i {
  transform: rotate(360deg);
  box-shadow: 0 0 5px var(--green);
  text-decoration: none ;
}

.product-box_data:hover {
  text-decoration: none ;
}

a:hover{
  text-decoration: none ;
}
/*====== Footer ======*/
.main-footer {
  background-color:black;
  padding: 20px 0;
  margin-top: 80px;
}

.footer-data {
  text-align: center;
  font-family: var(--secondary-font);
  font-weight: 1000;
  color: white;
}

.footer-data i {
  font-size: 3.5em;
  color: white;
}

.footer-data h2 {
  color: var(--gray);
  font-size: 25px;
  font-family: var(--secondary-font);
  font-weight: 600;
  color: white;
}

.footer-data p {
  color: white;
  font-size: 15px;
  font-family: var(--secondary-font);
  font-weight: 500;
}

.sub-footer {
  border-top: 1px solid var(--light-gray);
  background-color: #ffffff;
}

.sub-footer p {
  margin: 0;
  color: var(--gray);
  padding: 15px 0;
}

h2.nombres {
  display: flex;
  align-items: center;
  font-size: 10px;
  color: white;
  padding-top: 50px;
  padding-left: 30px;
  font-family: var(--secondary-font);
  font-weight: 700;
}

h2.nombres1 {
  display: flex;
  align-items: center;
  font-size: 10px;
  color: white;
  padding-top: 0px;
  padding-left: 30px;
  font-family: var(--secondary-font);
  font-weight: 700;
}


/*====== Product Detail ======*/
.product-detail {
  border-radius: 8px;
  overflow: hidden;
}

.product-detail-img {
  width: 70%;
  display: block;
  margin: auto;
}

.product-detail-info {
  border-right: 1px solid var(--light-gray);
  padding: 15px;
  /* height: 100%; */
}

.product-detail-title {
  font-weight: 400;
  font-size: 2.8em;
}

.product-detail-description {
  padding: 15px 15px 15px 40px;
  font-size: 1.8em;
  line-height: 1.5;
  color: white;
  text-align: justify;
}

.product-detail-price {
  font-size: 5.5em;
  margin: 10px 0;
}
.product-detail .form{
  padding: 0 15px;
  display: flex;
  flex-direction: column;
}
.small {
  font-size: 1.8em;
  color: var(--green);
}

.small span {
  text-decoration: line-through;
}

.actions-list {
  margin-bottom: 50px;
}

.actions-list li {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 20px 0;
}

.actions-list i {
  color: var(--green);
  font-size: 2em;
  margin-right: 15px;
}

.actions-list p {
  color: var(--gray);
  font-size: 1.7em;
  margin: 0;
}

.buy-now-button {
  background-color: var(--light-blue);
  font-size: 1.6em;
  padding: 15px;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
}

.action-button {
  border: none;
  border-radius: 8px;
  font-size: 1.2em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  margin-top: 15px;
}

.action-button.edit {
  background-color: chocolate;
}
.action-button.delete {
  background-color: rgb(248, 69, 37);
}
.comments {
  padding: 30px 15px 15px 0;
}
.comments article{
  margin-bottom: 7.5px;
  padding-bottom: 7.5px;
  border-bottom: 1px solid #dcdcdc;
  display: flex;
  justify-content: space-between;
}
.comments img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.comments .data{
  width: 85%;
  
}
.comments p{
  font-size: 1.5em;
  margin-top: 0;
  color: white;
}
.comments .user{
  font-size: 20px;
  text-align: justify;
}

/*====== Formularios ======*/

.row-g-3-needs-validation {
padding-left: 0px;
display: grid;
}

.form-label {
  font-size: 20px;
  margin: 10px 0;
  color: white;
  font-family: 'Bebas Neue', cursive;
}

.form-label1 {
  font-size: 20px;
  margin: 0px ;

  color: white;
  padding-bottom: 8px;
  font-family: 'Bebas Neue', cursive;
}

.col-md-4 {
  padding-left: 0px  !important;
}

.form-check-label { 
  color: white;
}


#validationCustom03 {
  margin-left: 0px;
  margin-right: 875px;
}

#inputgroup1 {
  margin-left: 0px;
}

#form-control1 {
  width: 420px;
  height: 40px;
}

#enviar2 {
  padding: 0px ;
}

div.col-12 {
  padding-left: 0px;
}

#exampleInputPassword1 {
  width: 400px;
}

#exampleInputEmail1 {
  width: 400px;
}

.error{
  color: rgb(209, 0, 0);
  font-size: 1.4em;
}



/*====== Profile ======*/
.info-usuario{
  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
  font-size: 16px;
}

.foto-perfil{
  border-radius: 50%;
}

.main-title{
  font-size: 25px;
  margin-bottom: 10px;
}

.btn{
  background-color: black;
  padding: 10px 20px;
  border-radius: 4px;
  color: #fff;
}


.profileinfo {
  color: white;
}

#profileinfo {
  color: white;
}


/*====== Media-Queries ======*/
@media (min-width: 768px) {
  .main-header_credit-link {
    margin-top: 0;
    text-align: right;
  }

  .banner {
    height: 320px;
    width: 100%;
  }

  .btn-toggle-navbar {
    display: none;
  }

  .main-navbar,
  .left-navbar,
  .right-navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .left-navbar a,
  .right-navbar a {
    border-bottom: none;
  }

  .left-navbar a:hover,
  .right-navbar a:hover {
    color: white;
    text-decoration: none;
  }

  .left-navbar li {
    margin-right: 15px;
  }

  .right-navbar li {
    margin-left: 15px;
  }

  .main-footer {
    padding: 40px 0;
  }

  .footer-data {
    width: 95%;
    margin: auto;
  }
}