<!-- Header -->
<%- include("partials/header.ejs") %> 


<header class="main-header">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-5 col-md-2">
				<a href="/index" class="main-header_home-link">
					<img src="./images/jordan/JORDY.png">
				</a>
			</div>

			<div class="col-7 col-md-6">
				<form action="/searchResults" method="GET" class="search-form">
					<input type="text" name="search" placeholder="Buscar productos, marcas y más" class="search-form_input">
					<button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
				</form>
			</div>

			<div class="col-12 col-md-4">
				<a class="main-header_credit-link">
					<i class="fas fa-hand-holding-usd"></i>
					Todas las opiniones en un solo lugar.
				</a>
			</div>
		</div>

		<button class="btn-toggle-navbar">
			<i class="fas fa-bars"></i>
		</button>

		<nav class="main-navbar">
			<ul class="left-navbar">
				<li><a href="/index">Todos los productos</a></li>
				<!-- solo logueado <li><a href="">Cargar productos</a></li> -->
			</ul>

			<ul class="right-navbar">
				<!-- Solo logueado <li><a href="profile.html">
						Nombre del usuario <i class="fas fa-user"></i>
					</a>
				</li>
				<li>
					<form action="" method="post">
						<button class="logout" type="submit">
							Cerrar sesión <i class="fas fa-sign-in-alt"></i>
						</button>
					</form>
				</li> -->
				<li>
					<a href="/register"> Creá tu cuenta <i class="far fa-address-card"></i> 
					</a>
				</li>
				<li>
					<a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
				</li>
			</ul>
		</nav>
	</div>
</header>
<!-- /Header -->

<!-- Banner -->
<div class="banner">
	<img src="images/jordan/banner.png" alt="Banner de ofertas">
</div>
<!-- /Banner -->

<!-- Novedades -->
<div class="container products-wrapper">
	<div class="row">
		<div class="col-12">
			<h2 class="products-title">NOVEDADES</h2>
		</div>
		<!-- Show the "ultimos" products -->
		<div class="col-12 col-sm-6 col-lg-3">
			<section class="product-box">
				<a href="/product">
					<figure class="product-box_image">
						<img src="images/jordan/jordan-blue.png" alt="BLUE JORDAN">
					</figure>
					<article class="product-box_data">
						<h2>BLUE JORDAN</h2>
						<p>Jordan 1 Royal Blue Premium
							La Blue Jordan presenta una parte superior de cuero completamente azul con inserciones de
							cuero perforado gris en los cordones y el tobillo. Las insignias tradicionales de Jumpman cubren el talón.
						</p>
						<p>Comentarios: 12</p>
					</article>
				</a>
			</section>
		</div>
		<div class="col-12 col-sm-6 col-lg-3">
			<section class="product-box">
				<a href="/product">
					<figure class="product-box_image">
						<img src="images/jordan/jordan-classic.png" alt="CLASSIC JORDAN">
					</figure>
					<article class="product-box_data">
						<h2>CLASSIC JORDAN</h2>
						<p>Jordan 1 Retro Triple White
							Su diseño, clásico y sobrio, está hecho completamente en la parte superior de piel blanca y toques de 'plata pura'
							sobre el Swoosh, la plantilla y la suela. También cuenta con perforaciones de ventilación en la puntera,
							una lengüeta de malla transpirable y un acolchado alrededor del tobillo para mayor comodidad.</p>
						<p>Comentarios: 12</p>
					</article>
				</a>
			</section>
		</div>
		<div class="col-12 col-sm-6 col-lg-3">
			<section class="product-box">
				<a href="/product">
					<figure class="product-box_image">
						<img src="images/jordan/jordan-green.png" alt="GREEN JORDAN">
					</figure>
					<article class="product-box_data">
						<h2>GREEN JORDAN</h2>
						<p>Air Jordan Retro 1 Mid
							Esta edición canaliza el estilo de la vieja escuela con una silueta de corte alto y un look retro
							compuesto por un upper de piel de flor, una lengüeta de malla y una mediasuela de espuma
							que ofrece una amortiguación ligera y eficaz.</p>
						<p>Comentarios: 12</p>
					</article>
				</a>
			</section>
		</div>
		<div class="col-12 col-sm-6 col-lg-3">
			<section class="product-box">
				<a href="/product">
					<figure class="product-box_image">
						<img src="images/jordan/jordan-yellow.png" alt="YELLOW JORDAN">
					</figure>
					<article class="product-box_data">
						<h2>YELLOW JORDAN</h2>
						<p>Jordan 1 Laser Yellow
							Inspiradas en uno de los equipos deportivos con más historia en el mundo universitario, estas zapatillas
							proporcionan el mejor estilo y comodidad a través de los colores insignia de los Wolverines y elementos
							clásicos de la serie Dunk, como la parte superior de piel ligera, la lengüeta de malla
							y la mediasuela de espuma.</p>
						<p>Comentarios: 12</p>
					</article>
				</a>
			</section>
		</div>
	</div>
</div>
<!-- /Novedades -->
<!-- Más comentados -->
<div class="container products-wrapper">
	<div class="row">
		<div class="col-12">
			<h2 class="products-title">MÁS COMENTADOS</h2>
		</div>
		<!-- Show the "ultimos" products -->
		<% for (let i=0; i<productos.lista.length; i+=1 ) { %>
		<div class="col-12 col-sm-6 col-lg-3">
			<section class="product-box">
			 <a href="/productos <% productos[i].nombre %>"> 
					<figure class="product-box_image">
					<!--<img src="<% productos.lista[i].imagen %>"> -->
					</figure>
					<article class="product-box_data">
						<h2> <%= productos[i].nombre %> </h2>
						<p> <%= productos[i].modelo %> </p> 
					
					<!--	Jordan 1 High Tie Dye. Talle 38.
						La puntera y la lengüeta tienen un color negro oscuro, que se acentúa aparte de los tonos blancos del perfil, la entresuela y el parche con la marca.</p>
						<p>Comentarios: 12</p>  -->
					</article>
				</a>
			</section> 
		</div> 
		<%}%>
		<!-- <div class="col-12 col-sm-6 col-lg-3">
			<section class="product-box">
				<a href="/product">
					<figure class="product-box_image">
						<img src="images/jordan/jordan-jbalvin.png" alt="HIGH BALVIN">
					</figure>
					<article class="product-box_data">
						<h2>HIGH BALVIN</h2>
						<p>Jordan 1 Retro High JBalvin. Talle 36.
							Los gráficos personalizables (incluida la cara sonriente característica de Balvin)
							le dan un giro distintivo a la lengüeta, con imágenes similares que adornan la plantilla y el talón del calzado.</p>
						<p>Comentarios: 12</p>
					</article>
				</a>
			</section>
		</div>
		<div class="col-12 col-sm-6 col-lg-3">
			<section class="product-box">
				<a href="/product">
					<figure class="product-box_image">
						<img src="images/jordan/jordan-pink.png" alt="PINK JORDAN">
					</figure>
					<article class="product-box_data">
						<h2>PINK JORDAN</h2>
						<p>Jordan 1 Mid Pink Premium
							Está detallado en la lengüeta y el interior con ilustraciones de fresas y limones que hacen
							alusión a su nombre. Además, proporciona la misma amortiguación ligera
							de las Pink Jordan gracias a la tecnología Air.</p>
						<p>Comentarios: 12</p>
					</article>
				</a>
			</section>
		</div>
		<div class="col-12 col-sm-6 col-lg-3">
			<section class="product-box">
				<a href="/product">
					<figure class="product-box_image">
						<img src="images/jordan/jordan-retro.png" alt="RETRO JORDAN">
					</figure>
					<article class="product-box_data">
						<h2>RETRO JORDAN</h2>
						<p>Jordan 1 R&W Retro High 
							Las Retro Jordan estan compuestas por una parte superior de cuero blanco
							con superposiciones de gamuza gris y un panel de tobillo de cuero rojo.</p>
						<p>Comentarios: 12</p>
					</article>
				</a>
			</section>
		</div>
		<div class="col-12 col-sm-6 col-lg-3">
			<section class="product-box">
				<a href="/product">
					<figure class="product-box_image">
						<img src="images/jordan/jordan-snake.png" alt="SNAKE JORDAN">
					</figure>
					<article class="product-box_data">
						<h2>SNAKE JORDAN</h2>
						<p>Jordan 1 Retro High Satin Snake Chicago
							Este Jordan consta de una parte superior de cuero blanco y rojo con lengüeta y forro de satin rojo. Los
							detalles de piel de serpiente sintética negra también aparecen en la parte superior. Una entresuela blanca,
							suela roja y un gráfico tradicional de Jordan Wings en el tobillo completan el diseño.</p>
						<p>Comentarios: 12</p>
					</article>
				</a>
			</section>
		</div>
		<div class="col-12 col-sm-6 col-lg-3">
			<section class="product-box">
				<a href="/product">
					<figure class="product-box_image">
						<img src="images/jordan/jordan-violeta.png" alt="VIOLET JORDAN">
					</figure>
					<article class="product-box_data">
						<h2>VIOLET JORDAN</h2>
						<p>Nike Air Jordan 1 Low Court Purple
							Las famosas líneas del calzado se han mantenido sin cambios desde su inicio en el 85,
							pero esta versión modificada del clásico tiene una unidad Zoom Air en el talón
							y una lengüeta acolchada para que puedas navegar cómodamente. Materiales de primera calidad y una
							combinación de colores de muselina añaden un elemento moderno a esta silueta baja.</p>
						<p>Comentarios: 12</p>
					</article>
				</a>
			</section>
		</div>
<<<<<<< HEAD
		<div class="col-12 col-sm-6 col-lg-3">
			<section class="product-box">
				<a href="/product">
					<figure class="product-box_image">
						<img src="images/jordan/jordan-yellow.png" alt="YELLOW JORDAN">
					</figure>
					<article class="product-box_data">
						<h2>YELLOW JORDAN</h2>
						<p>Jordan 1 Laser Yellow
							Inspiradas en uno de los equipos deportivos con más historia en el mundo universitario, estas zapatillas
							proporcionan el mejor estilo y comodidad a través de los colores insignia de los Wolverines y elementos
							clásicos de la serie Dunk, como la parte superior de piel ligera, la lengüeta de malla
							y la mediasuela de espuma.</p>
						<p>Comentarios: 12</p>
					</article>
				</a>
			</section>
		</div> -->
=======
>>>>>>> 7435c61c733a26dc4816f56833b66d1838dc018f
	</div>
</div> 
<!-- /Más comentados -->

<%- include("partials/footer.ejs") %> 