<%- include("partials/head.ejs") %> 

<%- include("partials/headerLogueado.ejs") %> 

	<!-- Agregar producto -->
<div class="container products-wrapper">
	<div class="row">

		<div class="col-12">
			<h2 class="products-title">Agregar producto</h2>
		</div> <br><br>

	<!-- Formulario agregar producto -->
		<h2 class="col-12">

			<div class="col">
				<input type="text" class="form-control" placeholder="Nombre del usuario" aria-label="First name">
		  </div> <br>

			<div class="col">
   				 <input type="text" class="form-control" placeholder="Nombre del producto" aria-label="First name">
  			</div> <br>

				<div class="input-group mb-3">
					<input type="file" class="form-control" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" aria-label="Upload">
				</div> <br>

				<div class="form-floating">
					<textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
					<label for="floatingTextarea">Descripcion del producto</label>
				</div> <br>

				<div class="col-12">
					<a href="/users/profile" class="btn btn-primary" type="submit">
					Enviar
					</a>
				</div>

		</h2>
	
	</div>
</div>

<%- include("partials/footer.ejs") %> 