<%- include("partials/head.ejs") %> 

<%- include("partials/headerLogueado.ejs") %> 

	<!-- Agregar producto -->
<div class="container products-wrapper">
	<div class="row">

		<div class="col-12">
			<h2 class="products-title">Agregar producto</h2>
		</div> <br><br>

		<%- include('partials/header.ejs') %>

	<!-- Formulario de agregar producto -->
<form action="/products/create" method="POST"> 
    <p>
        <input type="text" class="form-control"  name="usuario_id" placeholder="Usuario">
    </p>
    <p>
        <input type="text" class="form-control"  name="nombre" placeholder="Nombre del producto">
    </p>
    <p>
        <input type="text" class="form-control"  name="descripcion" placeholder="Descripcion del producto">
	</p>
    <p>
        <input type="number" class="form-control"  name="fecha" placeholder="Fecha de publicación">
    </p>
    
	<button type="submit" class="btn btn-primary">Guardar</button> <!--submit se redirige al action -->

</form>

<%- include("partials/footer.ejs") %> 