<%- include("partials/head.ejs") %>

<% if (locals.user) { %>
<%- include("partials/headerLogueado.ejs") %>
<% } else { %>
<%- include("partials/header.ejs") %>
<% } %>

<!-- Agregar producto -->
<div class="container products-wrapper">
    <div class="row">

        <div class="col-12">
            <h2 class="products-title">Agregar producto</h2>
        </div> <br><br>

        <!-- Formulario de agregar producto -->
        <form action="/products/productAdd" method="POST" enctype="multipart/form-data">
            <p>
                <input type="text" class="form-control" name="Nombre" placeholder="Nombre del producto">
            </p>
            <p>
                <input type="text" class="form-control" name="descripcion" placeholder="Descripcion del producto">
            </p>
            <p>
                <input type="date" class="form-control" name="Fecha" placeholder="Fecha de publicación">
            </p>
            <p>
                <input type="file" class="form-control" name="jordan" placeholder="Imagen" required> <!-- name tiene que ser el mismo q la ruta en el router.post de multer-->
            </p>


            <button type="submit" class="btn btn-primary">Guardar</button>
            <!--submit se redirige al action -->

        </form>

    </div>
</div>

<%- include("partials/footer.ejs") %>